body {
  padding: 0;
  background-color: white;
}

.layout {
  margin: -9;
  padding: 0;
  max-width: 100%;
  background-color: white;
  position: relative;
  left: 40%;
  transform: translateX(-40%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 9.5px;
  justify-content: center;
}

.header {
  display: flex;
  padding: 10px;
  margin: 20px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  height: 5vh;
}

.logo{
  display: flex;
  border-radius: 20px;
}

.logo:hover{
  background: lightgray;
}

.footerMobile {
  display: none;
}

.pin_container {
  margin: -9px;
  padding: 0;
  width: 90%;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250%);
  grid-auto-rows: 30.5px;
  justify-content: center;
}

.btn_guardar {
  display: flex;
  float: right;
  padding: 4px;
  position: relative;
  background-color: red;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  width: 40%;
  height: 4vh;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn_guardar:hover {
  display: flex;
  padding: 4px;
  position: relative;
  background-color: #9b0000;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: white;
  font-weight: bold;
}

.iconos {
  display: flex;
  cursor: pointer;
  padding: 5px;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 3.5vh;
  width: 2vw;
  cursor: pointer;
}
.iconos:hover {
  background-color: lightgrey;
}

.btn_inside {
  display: flex;
  padding: 1px;
  margin: 2px;
  position: relative;
  float: right;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 2vw;
  height: 4vh;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

.btn_inside:hover {
  opacity: 1;
}

.btn_iconos {
  background-color: transparent;
}

.btn_iconos:hover {
  background-color: lightgrey;
}

.btn_inicio {
  display: flex;
  padding: 13px;
  margin-left: 7px;
  border-radius: 30px;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 4vw;
}

.btn_hoy {
  display: flex;
  padding: 13px;
  border-radius: 30px;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 2vw;
}

.btn_hoy:hover {
  background-color: #efefef;
}

.buscar {
  display: flex;
  border-radius: 40px;
  padding: 12px;
  margin: 10px;
  background-color: #d2d2d2;
  align-items: center;
  height: 3.5vh;
  width: 90%;
  cursor: text;
  opacity: 0.4;
  font-weight: bolder;
}

.buscar:hover {
  background-color: #a5a5a5;
}

.texto_mobile{
  display: none;
}

@media only screen and (device-width: 2560px) and (device-height: 1080px) {
  /* Ultra wide */

  .layout {
    margin: -9;
    padding: 0;
    width: 90vw;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(90px, 250px);
    grid-auto-rows: 9.5px;
    justify-content: center;
  }

  .btn_inicio {
    width: 2vw;
  }

  .btn_guardar {
    border-radius: 25px;
    width: 3.5vw;
  }

  .btn_inside {
    border-radius: 25px;
    width: 1.3vw;
    height: 3.1vh;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X */
  .layout {
    margin: -9;
    padding: 0;
    width: 90vw;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(90px, 250px);
    grid-auto-rows: 8.5px;
    justify-content: center;
  }

  .header{
    font-weight: bolder;
    justify-content: space-between;


  }

  .texto_mobile{
    display: flex;
    border-bottom-color: black;
    padding: 5px;
    margin: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    }

  .iconos, .logo,
  .btn_inicio,
  .btn_hoy,
  .buscar {
    display: none;
  }

  .footerMobile {
    display: flex;
    padding: 5px;
    margin: 0;
    left: 30px;
    bottom: 10px;
    position: fixed;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 7vh;
    border-radius: 30px;
    transition: all 0.5s;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
  }

  .footerMobile.hide{
    bottom: -60px;
    transition: all 0.5s;
  }

  .iconos_footer {
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
  }

  .iconos_footer:hover {
    background: lightgray;
  }
}
